<div>
  <h3>Enter message here</h3>
  <form method="post" action="/new">
    <input type="text" name="user" />
    <input type="text" name="text" />
    <button type="submit">Submit</button>
  </form>
</div>
